# Created by https://www.toptal.com/developers/gitignore/api/code,libreoffice
# Edit at https://www.toptal.com/developers/gitignore?templates=code,libreoffice
*node_modules
### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### LibreOffice ###
# LibreOffice locks
.~lock.*#

# End of https://www.toptal.com/developers/gitignore/api/code,libreoffice
bloco_26/dia_3/arquivo1.txt
bloco_26/dia_3/arquivo2.txt
bloco_28/dia_1/node_modules
bloco_28/dia_1/node_modules/@hapi/hoek/lib/clone.js
